header {

    width: 100%;
    background-image: url("https://cdn.wallpapersafari.com/89/92/vLms1J.jpg");

    display: flex;
    background-color: rgb(26, 28, 31);
    color: aliceblue;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid rgb(76, 87, 106);

}

.goBack {
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

header h1::first-letter {
    font-family: cursive;
    font-weight: bolder;
    font-size: 80px;
    color: yellow;
}



body {
    background-color: rgb(215, 215, 213)
}

.navbar {
    display: inline;
    padding: 10px;
    font-family: serif;

}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    font-weight: bold;

}

h2 a:active {
    color: red;


}



.boxes {
    display: flex;
    flex-wrap: wrap;
}

.project {
    display: block;
    align-items: center;
    height: 40%;
    border: rgb(93, 90, 90) solid 6px;

    width: 35%;
    margin: 5%;
    text-align: center;
}

.project img {
    display: block;
    width: 100%;
    height: 100%;
}

h2 a {
    color: grey;
    text-decoration: none;
    font-size: larger;
}